footer
    div(class='container text-center small' style='color:darkgray')
        br
        |[&nbsp;
        a(href='/index') API Doc
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/get') List Scores (JSON)
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/list') List Scores (HTML)
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/get?mazeId=10:15:SimpleSample') Scores by Maze
        |&nbsp;]&nbsp;&nbsp;&nbsp;[&nbsp;
        a(href='/get?teamId=b451bb96-f32a-48be-9efd-5f82cd900b66') Scores by Team
        |&nbsp;]
    br