head
    title Game Server - API Documentation
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    style
        include css/bootstrap.min.css
        include css/style.css
body
    script
        include js/jquery-3.3.1.min.js
        include js/popper.min.js
        include js/bootstrap.min.js
