doctype html
html(lang="en")
    include head.pug
    br
    div(class='container text-center')
        h1 Score Service - API Documentation
        br
        table(class='table table-striped table-dark table-hover' style='color:antiquewhite')
            th Link
            th Method
            th Action
            th Type
            th Arguments
            th Return
            th Status
            th Description
            tr
                td
                    a(href= 'http://' + host + '/get') All Scores
                td Get
                td Get All
                td JSON 
                td N/A
                td Score
                td Current
                td(style='text-align:left') Returns all available scores.
            tr
                td
                    a(href= 'http://' + host + '/get?mazeId=10:15:SimpleSample') Get Scores by...
                td Get
                td Get
                td JSON 
                td(style='text-align:left') QueryString: <br>
                    ul
                        li /get?scoreKey=mH:mW:mSeed:teamID:gameID:gameRound
                        li /get?teamId=TeamID
                        li /get?mazeId=MazeID (height:width:seed)
                        li /get?gameId=GameID
                td Scores
                td Current
                td(style='text-align:left') Returns available scores matching the search criteria.
            tr
                td
                    a(href= 'http://' + host + '/add_update/10:15:SimpleSample/Dungeon_Delvers/3232144/4/48/12/3122/WIN') Add / Update Score
                td Get
                td Insert / Update
                td JSON 
                td(style='text-align:left') Maze ID (H:W:Seed) / TeamID (Team Name) / Game ID / Game Round / Move Count / Backtrack Count / Bonus Points / Round Result
                td Result
                td Current
                td(style='text-align:left') Inserts or updates a score document.
            tr
                td
                    a(href= 'http://' + host + '/delete/10:15:SimpleSample:Dungeon_Delvers:3232144:4/pw') Delete Score
                td Get
                td Delete
                td JSON 
                td(style='text-align:left') Score Key (mH:mW:mSeed:teamID:gameID:gameRound)
                td Result
                td Current
                td(style='text-align:left') Deletes a single score with the matching Score Key.
            tr
                td
                    a(href= 'http://' + host + '/list') List Scores
                td Get
                td List
                td HTML 
                td N/A
                td HTML Page
                td Current
                td(style='text-align:left') Lists all available scores w/ handy links to manage them.
    include foot.pug