doctype html
html
    head
        style
            include style.css
        title Maze Service - View Maze
    body
        h1 Maze Service - View Maze
        hr
        h3 Seed: #{maze.seed}
        h3 Dimensions: #{maze.height} x #{maze.width}
        p
        pre #{maze.textRender}